* {
    font-family: 'Cairo', sans-serif;
}
/* Start Nav */
.navbar {
    min-height: 70px;
}
.navbar .navbar-collapse {
    align-items: center;
}
.navbar .navbar-collapse ul li a {
    font-size: 20px;
    padding-left: 10px !important;
    padding-right: 15px !important;
}
.navbar button {
    box-shadow: 0 0 0 #000 !important;
}
/* End Nav */
/* Start Welcome */
.welcome {
    margin-top: 70px;
    text-align: right;
}
/* End Welcome */
/* Start Line */
.line .box {
    text-align: right;
}
.line .box input {
    text-align: right;
}
.line .btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* End Line */
/* Start Form */
.map-line .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.map-line input {
    width: 80%;
    text-align: right;
}
.map-line a {
    width: 18%;
}
/* End Form */