* {
    font-family: 'Cairo', sans-serif;
}
.min-heading {
    position: relative;
}
.min-heading::after {
    position: absolute;
    width: 100%;
    color: #0d6efd;
    opacity: 0.1;
    font-size: 60px;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 5px;
}
/* Start Nav */
.navbar {
    min-height: 70px;
}
.navbar .navbar-collapse {
    align-items: center;
}
.navbar .navbar-collapse ul li a {
    font-size: 20px;
    padding-left: 10px !important;
    padding-right: 15px !important;
}
.navbar button {
    box-shadow: 0 0 0 #000 !important;
}
/* End Nav */
/* Start Landing */
.landing {
    background-image: url("../img/background.png");
}
.landing .container {
    margin-top: 70px;
    min-height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.landing .container .text {
    text-align: center;
}
.landing .text i {
    font-size: 80px;
}
.landing .text h1 {
    color: #000;
}
.landing .text p {
    margin: 20px auto;
    font-size: 18px;
    width: 80%;
    line-height: 1.8;
}
/* End Landing */
/* Start How */
.how .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 10px;
}
.how .min-heading::after {
    content: "كيف تستخدم المنصة";
}
.how .box {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.how .box .num {
    font-size: 30px;
    font-weight: 500;
    width: 40px;
    height: 40px;
    margin: 30px auto;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
.how .box .text {
    position: relative;
    text-align: center;
    font-size: 22px;
    color: #000;
    transition: 0.5s;
}
.how .box:hover .num {
    color: #0d6efd !important;
    background-color: #fff !important;
    box-shadow: 0 0px 0px 250px #0d6efd;
}
.how .box:hover .text {
    color: #fff !important;
}
@media (max-width: 767px) {
    .how .min-heading::after {
        font-size: 40px;
    }
}
/* End How */
/* Start Developer */
.developer .text p {
    font-size: 20px;
    line-height: 1.8;
}
.developer .min-heading::after {
    content: "المطور";
}
.developer .text .write span {
    display: block;
    font-size: 22px;
    color: #000;
    font-weight: 500;
}
.developer .text .write a {
    display: block;
    font-size: 22px;
    text-decoration: none;
    margin-top: 10px;
    transition: 0.5s;
}
.developer .text .write a:hover {
    color: #0d6efd !important;
}
/* End Developer */