* {
    font-family: 'Baloo Bhaijaan 2', cursive;
}
/* Start Nav */
.navbar {
    min-height: 67px;
}
.navbar .navbar-collapse {
    align-items: center;
}
.navbar .navbar-collapse ul li a {
    font-size: 20px;
    padding-left: 10px !important;
    padding-right: 15px !important;
}
/* End Nav */
/* Start Landing */
.landing {
    background-image: url("../img/background.png");
}
.landing .container {
    margin-top: 67px;
    min-height: calc(100vh - 67px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.landing .container .text {
    text-align: center;
}
.landing .text i {
    font-size: 80px;
}
.landing .text h1 {
    color: #000;
}
.landing .text p {
    margin: 20px auto;
    font-size: 18px;
    width: 80%;
    line-height: 1.8;
}
/* End Landing */
